<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body>
		<header>
			<% include partials/header %>
		</header>
		<div class="container">
			<div class="row">
				<div class="col">
					<% if (errors) { %>
						<% errors.forEach(function(error) { %>
							<div class="alert alert-danger"><%= error %></div>
						<% }) %>
					<% } %>
				</div>
			</div>
		<% include partials/footer %>
		</div>
	</body>
</html>
