<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="LSC Ticket System"
        version="1.0"
        description="Queries for student submitted tickets in the TAC Shop.">
	<oauth />
	<access_request>
        <field table="Students" field="first_name" access="ViewOnly" />
        <field table="Students" field="middle_name" access="ViewOnly" />
        <field table="Students" field="last_name" access="ViewOnly" />
        <field table="Students" field="lastfirst" access="ViewOnly" />
        <field table="Students" field="Student_Number" access="ViewOnly" />
        <field table="Students" field="DCID" access="ViewOnly" />
        <field table="Students" field="ID" access="ViewOnly" />
        <field table="Students" field="SchoolID" access="ViewOnly" />
        <field table="Students" field="Enroll_Status" access="ViewOnly" />
        <field table="u_def_ext_students9" field="LSC_DEVICE_ID" access="ViewOnly" />
        <field table="u_def_ext_students9" field="studentsdcid" access="ViewOnly" />
	</access_request>
    <publisher name="Patrick Mulligan">
        <contact email="pmulligan@lsc.k12.in.us"/>
    </publisher>
</plugin>
