<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="LSC Registration"
        version="1.03"
        description="Custom LSC Student Registration">
	<oauth />
    <openid host="34-48552.lsc.k12.in.us" port="3000">
        <links>
            <link title="LSC Student Registration" display-text="Student Registration" path="/auth/login">
                <ui_contexts>
                    <ui_context id="admin.header" />
                    <ui_context id="admin.left_nav" />
                    <ui_context id="guardian.header" />
                </ui_contexts>
            </link>
        </links>
    </openid>
	<access_request>
        <field table="Person" field="firstname" access="FullAccess" />
        <field table="Person" field="lastname" access="FullAccess" />
        <field table="Person" field="employer" access="FullAccess" />
        <field table="Person" field="ID" access="FullAccess" />
        <field table="Person" field="DCID" access="FullAccess" />
        <field table="Person" field="ExcludeFromStateReporting" access="FullAccess" />
        <field table="Person" field="prefixcodesetid" access="ViewOnly" />
        <field table="Personaddress" field="street" access="ViewOnly" />
        <field table="personemailaddressassoc" field="personemailaddressassocid" access="FullAccess" />
        <field table="Emailaddress" field="emailaddressid" access="ViewOnly" />
        <field table="Emailaddress" field="emailaddress" access="FullAccess" />
        <field table="Gen" field="value" access="ViewOnly" />
        <field table="Gen" field="cat" access="ViewOnly" />
        <field table="Gen" field="name" access="ViewOnly" />
        <field table="Personphonenumberassoc" field="personphonenumberassocid" access="FullAccess" />
        <field table="Personphonenumberassoc" field="phonenumberasentered" access="FullAccess" />
        <field table="Personphonenumberassoc" field="phonenumberid" access="FullAccess" />
        <field table="Personphonenumberassoc" field="phonetypecodesetid" access="FullAccess" />
        <field table="Personphonenumberassoc" field="phonenumberpriorityorder" access="FullAccess" />
        <field table="Personphonenumberassoc" field="ispreferred" access="FullAccess" />
        <field table="Phonenumber" field="phonenumberid" access="ViewOnly" />
        <field table="Phonenumber" field="issms" access="FullAccess" />
        <field table="PCAS_account" field="isenabled" access="ViewOnly" />
        <field table="guardianstudent" field="guardianid" access="ViewOnly" />
        <field table="guardianstudent" field="guardianstudentid" access="ViewOnly" />
        <field table="guardianstudrestrictionmap" field="guardianstudentid" access="ViewOnly" />
        <field table="guardianpersonassoc" field="personid" access="FullAccess" />
        <field table="guardianpersonassoc" field="guardianid" access="FullAccess" />
        <field table="studentcontactassoc" field="studentdcid" access="FullAccess" />
        <field table="studentcontactassoc" field="personid" access="FullAccess" />
        <field table="studentcontactassoc" field="contactpriorityorder" access="FullAccess" />
        <field table="studentcontactassoc" field="studentcontactassocid" access="FullAccess" />
        <field table="studentcontactdetail" field="isactive" access="FullAccess" />
        <field table="studentcontactdetail" field="startdate" access="FullAccess" />
        <field table="studentcontactdetail" field="enddate" access="FullAccess" />
        <field table="studentcontactdetail" field="isemergency" access="FullAccess" />
        <field table="studentcontactdetail" field="iscustodial" access="FullAccess" />
        <field table="studentcontactdetail" field="liveswithflg" access="FullAccess" />
        <field table="studentcontactdetail" field="schoolpickupflg" access="FullAccess" />
        <field table="studentcontactdetail" field="receivesmailflg" access="FullAccess" />
        <field table="studentcontactdetail" field="relationshiptypecodesetid" access="FullAccess" />
        <field table="studentcontactdetail" field="studentcontactdetailid" access="FullAccess" />
        <field table="students" field="dcid" access="FullAccess" />
        <field table="students" field="districtofresidence" access="FullAccess" />
        <field table="students" field="Student_Number" access="FullAccess" />
        <field table="students" field="schoolid" access="ViewOnly" />
	</access_request>
 
    <publisher name="Patrick Mulligan">
        <contact email="pmulligan@lsc.k12.in.us"/>
    </publisher>
</plugin>
