<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<header>
			<% include ../../partials/header %>
		</header>
		<div class="container">
            <div class="jumbotron">
                <h1>Success!</h1>
                <p class="lead">
                    Thank you for submitting your breakfast counts for <%= submissionDate %>.</p>
            </div>
		<% include ../../partials/footer %>
		</div>
	</body>
</html>
